<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project 1</title>

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="./scripts/app.js"></script>

  </head>
  <body>

    <div id="temperature" class="col-md-4">
      <h3> Today's weather will be: </h3>
      <h4 id="weatherText"></h4>
      <div id="weatherIcon" class="col-md-4">
      </div>
      <button type="button" id="randomize" class="btn btn-primary btn-lg">Dress Me!</button>
    </div>


    <div id="avatar" class="col-md-4">
      <h2>Your Outfit:</h2>
      <div id="chosenTop"></div>
      <div id="chosenBottom"></div>
    </div>

    <div id="wardrobe" class="col-md-4">
      <h2>Wardrobe</h2>
      <!--Start Handlebars-->
      <div id="wardrobeTarget">
        <script id = "wardrobe-template" type="text/x-handlebars-template">
          <div id="tops"><h4>Tops</h4>
            <ul id="newTop">
            {{#each tops}}<li>{{description}}</li>{{/each}}
            </ul>
          </div>
          <div id="bottoms"><h4>Bottoms</h4>
            <ul id="newBottom">
            {{#each bottoms}}<li>{{description}}</li>{{/each}}
            </ul>
          </div>
        </script>
      </div>
      <!--End Handlebars-->
      <button class='btn btn-primary add-item'>Add Item</button>
    </div>

    <!-- begin addModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create New Item</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input for description-->
              <div class="form-group">
                <label class="control-label" for="itemDescription">Item Description</label>
                <div>
                  <input id="itemDescription" name="itemDescription" type="text" placeholder="" class="form-control input-md" required>
                </div>
              </div>

              <!-- Drop down input for item category-->
              <div class="form-group">
                <label class="control-label" for="itemCategory">Item category:</label>
                <select class="form-control" id="itemCategory" required>
                  <option>Top</option>
                  <option>Bottom</option>
                </select>
              </div>

              <!-- Drop down input for item color-->
              <div class="form-group">
                <label class="control-label" for="itemColor">Item color:</label>
                <select class="form-control" id="itemColor" required>
                  <option>Red</option>
                  <option>Orange</option>
                  <option>Yellow</option>
                  <option>Green</option>
                  <option>Blue</option>
                  <option>Purple</option>
                  <option>White</option>
                  <option>Grey</option>
                  <option>Black</option>
                </select>
              </div>

              <!-- Add one for the silhouette that depends on itemCat form-->

              <!-- Drop down input for weather range-->
              <div class="form-group">
                <label class="control-label" for="itemTemp">Temperature:</label>
                <select class="form-control" id="itemTemp" required>
                  <option>Hot</option>
                  <option>Mild</option>
                  <option>Cold</option>
                </select>
              </div>

              <!-- Checkbox for wind-->
              <div class="checkbox">
                <label class="control-label" for="inWind">
                  <input id="inWind" name="inWind" type="checkbox" class="form-control" required>
                  Wearable in wind?
                </label>
              </div>

              <!-- Checkbox for rain-->
              <div class="checkbox">
                <label class="control-label" for="inRain">
                  <input id="inRain" name="inRain" type="checkbox" class="form-control" required>
                  Wearable in rain?
                </label>
              </div>

            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="saveItem">Save Item</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="footer" class="col-md-12">
      <img src="/images/wulogo.png" class="logo">
    </div>

  </body>
</html>
