<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clothe me!</title>

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

  </head>
  <body>

    <div id="temperature" class="col-md-4">
      <h3> Today's weather will be: </h3>
      <p id="weatherText"></p>
    </div>

    <div id="avatar" class="col-md-4">
      <h2>Avatar placeholder</h2>
    </div>

    <div id="wardrobe" class="col-md-4">
      <h2>Wardrobe placeholder</h2>
    </div>

    <div id="footer" class="col-md-12">
      <img src="../public/images/wulogo.png" class="logo">
    </div>

  </body>
</html>
