<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clothe me!</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>

    <div id="temperature" class="col-md-4">
      <h3> Today's temperature will be: </h3>
      <h3> with clear skies and no wind. </h3>
    </div>

    <div id="avatar" class="col-md-4">
      <h2>Avatar placeholder</h2>
    </div>

    <div id="wardrobe" class="col-md-4">
      <h2>Wardrobe placeholder</h2>
    </div>

  </body>
</html>
