<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Log In</title>

  </head>
  <body class="backgroundNeeded">
  </br>
    <div class="opaque col-xs-4 col-xs-offset-4">
      <div>
        <h2>Log In</h2>
      </div>
      <form method="POST" action="/login">
        <div class="form-group">
          <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-block btn-primary" value="Log In">
        </div>
      </form>
      <div>
        <a href="/signup">Sign up here!</a>
      </div>
      <div>
        <p>Just want to demo the app? Seed the database and use this login info:</p>
        <ul>
          <li>Username: Guest</li>
          <li>Password: 123</li>
        </ul>
      </div>
    </div>

  </body>
</html>
