body {
  font-family: 'Raleway', sans-serif;
  background-size: 2000px;
}

#navBar {
  background-color: rgba(255, 255, 255, 0.70);
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
}

#navBar .btn {
  margin: 10px 5px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.70);
  margin-left: 30px;
}

.logo {
  width: 100px;
  margin-left: 80%;
  background: lightpurple;
}

.modal-content {
  padding: 5px 40px;
}

h2 {
  text-align: center;
}

#tops {
  height: 350px;
  overflow: scroll;
  overflow-x:hidden;
}

#bottoms {
  height: 350px;
  overflow: scroll;
  overflow-x:hidden;
}

hr {
  color: darkgrey;
}
