body {
  font-family: 'Raleway', sans-serif;
  background-size: 2000px;
}

.backgroundNeeded {
  background-image: url("../images/hot-background.jpg");
  background-size: 2000px;
}

.opaque {
  background-color: rgba(255, 255, 255, 0.70);
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
}

#navBar {
  background-color: rgba(255, 255, 255, 0.70);
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
}

#navBar .btn {
  margin: 10px 5px;
}

.helpText {
  background-color: rgba(255, 255, 255, 0.70);
  padding: 10px 0px;
  border-radius: 10px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.70);
  margin-left: 30px;
}

.logo {
  width: 100px;
  margin-left: 48%;
  margin-bottom: 10px;
}

.modal-content {
  padding: 5px 40px;
}

h2 {
  text-align: center;
}

#tops {
  max-height: 350px;
  overflow: scroll;
  overflow-x:hidden;
}

#bottoms {
  max-height: 350px;
  overflow: scroll;
  overflow-x:hidden;
}

hr {
  color: darkgrey;
}

#github {
  width: 5%;
  margin-left: 45%;
}

.add-item {
  margin-bottom: 10px;
}
